# База данных (у каждого разработчика своя локальная БД)
*.sqlite3

# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python (компилированные файлы)
**/__pycache__/
*.pyc

# Настройки VS Code / IDE
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.swp
